<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand ms-5 fw-bold fs-3" href="#"> DOLIFY</a>
        <span class="hello-msg">Hello, {{request.user}} </span>
        <span class="hello-msg"><a href="{%url 'logout'%}">logout</a></span>
      </nav>
      <div class= 'container-sm mt-4'>
        {%block content%}
        <h2>Add Tasks</h2>
        <p></p>
        <form action= 'add/' method= 'post'>
             {%csrf_token%}
            <input type="text"  class="form-control" name ='content' placeholder="Enter new task">
            <p></p>
            <button type="submit" class="btn btn-primary">Add task</button>
        </form>
        {%endblock content%}
        <p></p>
        <div class= 'row'>
            <div class= 'col'>
                <ul class="list-group">
                    {%for todo_item in todo_tasks%}
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                          <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                        </div>
                        <li class="list-group-item" >
                    
                            {{todo_item.task}}
                           <div class="float-end"> 
                           <form action="delete_task/{{todo_item.id}}/" method="post">
                               {%csrf_token%}
                               <button type="submit" class="btn btn-sm btn-primary btn-danger ms-5 ">Delete Task</button>
                            </form>
                            </div>   
                        </li>
                    </div>
                  
                   
                    
                    {%endfor%}
                  </ul>
                
            </div>
        </div>
      </div>
</body>

<style>
  .hello-msg{
    color: antiquewhite;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    margin: 10px;
  }
</style>

</html>